mixin sched(event)
  .timeline(v-for='(value, index) in evented("'+event+'")')
    h2 {{Object.keys(value)[0]}}
    .row
      .flex-column.pb-3.m-0(v-for="(item, index) in value[Object.keys(value)[0]]" :class="item.merge==1?'col-sm-3 col-6':'row'")
        hr(v-if="item.merge!=1")
        div
          h3(:class="item.merge==1?'text-center':''") {{item.item}}
        div(v-if='item.start')
          p {{item.start}} {{item.end}}
        div(v-if='item.description')
          p.small(v-html='item.description')
        .people(v-if='item.speakers' :class="item.merge==1?'justify-content-center':''")
          .people-item(v-for="sp in item.speakers.split(',')")
            img(:src='gdrive(speakers[sp-1].gdrive)' alt='')
            // <img :src="'images/2020/'+speakers[sp-1].image" alt="" />
            .descp
              h3 {{speakers[sp-1].name}}
              h4 {{speakers[sp-1].position}}
              h4 {{speakers[sp-1].company}}
              a(:href="speakers[sp-1].linkedin" target="_blank" v-if="speakers[sp-1].linkedin")
                i.fab.fa-linkedin
        .d-block.pl-4(v-if="item.link")
          a.button.btn(:href="item.link" target="_blank")
            | {{item.linktext}}


mixin objective(image, text, number)
  .col-sm-4.col-md-3
    .event
      .number= number
      //- .event-image(style="background-image: url('"+image+"')")
      .text
        h4= text