@import './mixins';
#header-section {
  height: 90vh;
  background-image: url('../images/bg-plane-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
  // .overlay {
  //   width: 100%;
  //   height: 100%;
  //   background: #00000055;
  //   backdrop-filter: blur(1px);
  //   position: absolute;
  // }
  .info-container {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    h1 {
      font-size: 4rem;
      text-shadow: 2px 2px 2px #192b00;
    }
    h3 {
      text-shadow: 2px 2px 2px #192b00;
    }
  }
}

.section-content {
  padding-top: 80px;
  padding-bottom: 80px;
}

#footer {
  background: #e22295;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

#hero-section {
  .hightlight {
    color: #0bb500;
    font-weight: 400;
  }
  .hero-image {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    @include my_bp(md) {
      width: 80%;
      height: 70vh;
      margin-bottom: 0;
    }
    &:before {
      position: absolute;
      top: 0;
      left: 0;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 120px 120px 0 0;
      border-color: #0bb500 transparent transparent transparent;
    }
  }
  ul {
    list-style: none;
    li {
      clear: left;
      &:before {
        content: "";
        height: 1em;
        width: 1em;
        display: block;
        float: left;
        margin-left: -1.5em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        top: 2px;
        position: relative;
        color: #0bb500;
      }
    }
    &.cursor {
      li:before {
        content: url('../images/cursor.svg');
      }
    }
    &.pencil {
      li:before {
        content: url('../images/pencil.svg');
      }
    }
  }
}

#banner-section {
  background: #1b5d00;
  position: relative;
  color: white;
  .banner-image {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    @include my_bp(sm) {
      width: 50%;
      background-attachment: inherit;
      background-position: bottom;
    }
  }
  &.alternate {
    .banner-image {
      left: 0;
    }
  }
  .bg-blue {
    z-index: 4;
    position: relative;
    background: #1b5d00;
    padding: 2rem 1rem;
    @include my_bp(sm) {
      padding: inherit;
    }
  }
  ul {
    list-style: none;
    li {
      clear: left;
      &:before {
        content: "";
        height: 1em;
        width: 1em;
        display: block;
        float: left;
        margin-left: -1.5em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        top: 2px;
        position: relative;
        color: #0bb500;
      }
    }
    &.cursor {
      li:before {
        content: url('../images/cursor.svg');
      }
    }
    &.network {
      li:before {
        content: url('../images/network.svg');
      }
    }
  }
  .button {
    color: white;
    border-color: white;
    font-weight: 600;
    &:hover {
      background: white;
      color: #1b5d00;
    }
  }
}

#event-section {
  .event {
    padding-bottom: 2rem;
    display: block;
    text-decoration: none;
    color: black;
    position: relative;
    height: 100%;
    &:hover {
      .text {
        background-color: #0bb500;
        color: white;
        .subheading {
          color: whitesmoke;
        }
      }
      .number {
        background: #1b5d00;
      }
      &:before {
        opacity: 1;
      }
    }
    // &:before {
    //   background: #0bb500;
    //   content: '+';
    //   font-weight: 900;
    //   font-size: 3rem;
    //   position: absolute;
    //   color: white;
    //   padding: .25rem 2rem;
    //   transition: all 300ms ease;
    //   opacity: 0;
    //   left: 50%;
    //   top: 50%;
    //   margin-left: -60px;
    //   margin-top: -60px;
    //   box-shadow: 0px 0px 5px rgba(0, 0, 0, .2);
    //   @include my_bp(sm) {
    //     padding: 1rem 3rem;
    //   }
    // }
    .event-image {
      width: 100%;
      height: 20vh;
      background-size: cover;
      background-repeat: no-repeat;
      @include my_bp(md) {
        height: 25vh;
      }
    }
    .number {
      font-size: 1.75rem;
      font-weight: 700;
      color: white;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #0bb500;
      top: 0;
      left: 0;
      transform: translateX(-10px) translateY(-10px);
      box-shadow: 0px 0px 5px rgba(0, 0, 0, .5);
      transition: all 500ms ease;
    }
    .text {
      width: 90%;
      height: 100%;
      background: #fff;
      padding: 20px;
      margin: 0 auto;
      // margin-top: -50px;
      border-radius: 4px;
      box-shadow: 0 15px 46px -16px rgba(0, 0, 0, .2);
      transition: all 500ms ease;
      display: flex;
      align-items: center;
      justify-content: center;
      h4 {
        font-size: 1.2rem;
        font-weight: 700;
        text-align: center;
      }
      .subheading {
        color: #0bb500;
        font-weight: 400;
        transition: all 300ms ease;
      }
    }
  }
}