@import './mixins';
#navbar {
  padding: 1rem 0 1rem 0;
  z-index: 10;
  background: #ffffff;
  width: 100%;
  @include my_bp(md) {
    position: absolute;
    padding: 1rem 0 3rem 0;
  }
  &.open {
    .menu {
      transform: translateX(0);
    }
  }
  .logo {
    height: 50px;
    width: 100px;
    background-image: url('../images/logo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .menu {
    display: block;
    background: #1b5d00;
    margin: 0 auto;
    border-bottom: 3px solid #0bb500;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    transition: all 100ms ease-in-out;
    transform: translateX(-100%);
    transform-origin: left center;
    .logo {
      display: none;
    }
    @include my_bp(md) {
      position: absolute;
      width: 80%;
      left: 10%;
      top: auto;
      height: auto;
      transform: translateY(25px) scaleX(1);
      &.sticky {
        position: fixed;
        top: 0;
        left: 0;
        transform: none;
        width: 100%;
        display: flex;
        .logo {
          display: block;
          background-image: url('../images/logo-white.svg');
          padding: 0 4rem;
          margin-left: 4rem;
        }
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      @include my_bp(md) {
        flex-direction: row;
      }
      li {
        position: relative;
        &:hover {
          &:before {
            transform: scaleY(1);
          }
        }
        &:before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background: #0bb500;
          position: absolute;
          top: 0;
          left: 0;
          transition: all 200ms ease-in;
          transform: scaleY(0);
          transform-origin: bottom;
        }
        a {
          display: block;
          padding: .75rem 1.5rem;
          font-size: 1.1rem;
          font-weight: 600;
          color: white;
          text-decoration: none;
          position: relative;
        }
      }
    }
  }
}

.hamburger-menu {
  position: fixed;
  right: 20px;
  width: 100%;
  max-width: 24px;
  height: 22px;
  margin-left: auto;
  transition: .5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ea0763;
    border-radius: 10px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 2px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 10px;
    }
    &:nth-child(4) {
      top: 18px;
    }
  }
  &.open span {
    &:nth-child(1) {
      top: 18px;
      width: 0;
      left: 50%;
    }
    &:nth-child(2) {
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      transform: rotate(-45deg);
    }
    &:nth-child(4) {
      top: 18px;
      width: 0;
      left: 50%;
    }
  }
}

.language-selector {
  a {
    padding: .25rem 1rem;
    border-radius: 1.5em;
    transition: all 500ms ease-in-out;
    text-decoration: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .2);
    background: #1b5d00;
    color: white !important;
    font-weight: 700;
    // &.active {
    //   background: #1b5d00;
    //   color: white !important;
    // }
    // &:hover {
    //   background-color: #1b5d00;
    //   color: white !important;
    // }
  }
}

#prenav {
  background: #1b5d00;
  padding: .5rem 0;
  color: #999;
  display: none;
  @include my_bp(md) {
    display: block;
  }
  .button {
    background: #0bb500;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    transition: all 500ms ease;
    display: block;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    &:hover {
      transform: translateX(10px);
    }
  }
}

.blink {
  perspective: 1000px;
  &:hover {
    &:after {
      display: none;
    }
  }
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #0bb500;
    position: absolute;
    top: 0;
    left: 0;
    animation: spin 2s linear infinite;
    transform-style: preserve-3d;
    // border-radius: 20%;
  }
  a {
    animation: bounce 1s infinite;
    z-index: 1;
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-25%);
    animationTimingFunction: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animationTimingFunction: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

@keyframes ping {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75%,
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes spin {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(360deg);
  }
}