extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/home.scss")

include ./layouts/partials/mixins.pug

block page
  section#header-section
    .overlay
    .info-container
      h1 NORKA Pravasi Startup Program
      h3 A joint initiative of NORKA and Kerala Startup Mission

  section.section-content#hero-section
    .container
      .row.align-items-center
        .col-md-6
          .hero-image(style="background-image: url('./images/return.jpg')")
        .col-md-6
          .hightlight A joint initiative of NORKA and Kerala Startup Mission
          h2 Norka Pravasi Startup Programme
          p.text-justify The Norka Pravasi Startup Programme(NPSP) will facilitate the NRIs by means of various Technology business opportunities which the NRI community can adopt and contribute to the economic development of the state. The Trends of technology and advancements which can ultimately create value will be communicated through the NPSP. Connecting technology with the business and to the right audience will create value to the programme. The NPSP is designed in such a way that the right NRIs will be selected through a screening committee and the selected NRIs will be taken through an intense 3 months programme, this programme will enable the NRIs to decide on the business sector they have to focus or on how to add value to their business investments. The selected candidates shall also be eligible for getting financial assistance through the existing NDPREM scheme.
          a.button(target="_blank" href="https://forms.zohopublic.com/keralastartupmission/form/NorkaPravasiStartupProgrammeRegistration/formperma/cSD0eRnNcHnoQhjxfo2BePLjCAfyAlytngNaPyNQ7a8") Apply Now

  section.section-content#banner-section
    .banner-image(style="background-image: url('./images/return4.jpg')")
    .container
      .row.no-gutter
        .col-md-6.bg-blue
          h2.mb-4 Eligibility
          ul.cursor
            li Minimum of two years staying or working abroad.
            li Returning back to Kerala permenantly.
          a.button(target="_blank" href="https://forms.zohopublic.com/keralastartupmission/form/NorkaPravasiStartupProgrammeRegistration/formperma/cSD0eRnNcHnoQhjxfo2BePLjCAfyAlytngNaPyNQ7a8") Apply Now

        .col-md-6

  section.section-content#event-section
    .container
      h1.text-center.mb-5 Objectives
      p.text-justify.pb-5 Kerala Startup Mission in association with NORKA has initiated the Norka Pravasi Startup Programme to identify the aspiring entrepreneurs and potential candidates who can contribute to the development of the society. The Startup Ecosystem is diverse with various stakeholders involvement which includes Mentors, Investors, startups,innovators, etc. The NPSP will be a corridor for NRIs to explore the opportunities in the Technology Startup Ecosystem.

      .row.justify-content-evenly
          +objective("./images/return.jpg", "Rehabilitation of NRI community based on their professional skills", "1")
          +objective("./images/return.jpg", "Identifying aspiring entrepreneurs and nurturing their ideas to enterprises", "2")
          +objective("./images/return.jpg", "Building a business network and investor network from the NRI community", "3")
          +objective("./images/return.jpg", "Matchmaking technology, business and investment", "4")
          +objective("./images/return.jpg", "Exploring business mentoring or consulting opportunities with Technology startups", "5")
          +objective("./images/return.jpg", "Leveraging the business network of NRIs for the betterment of society", "6")
          +objective("./images/return.jpg", "Identifying like minded NRIs to build a co founder or partner model", "7")
          +objective("./images/return.jpg", "Giving financial support through the various startup schemes", "8")

  section.section-content#banner-section.alternate
    .banner-image(style="background-image: url('./images/funding.jpg')")
    .container
      .row.no-gutter
        .col-md-6
        .col-md-6.bg-blue.pl-4
          h2.mb-4 Schemes and subsidy for Pravasi by Norka
          ul.cursor
            li The scheme enabled Pravasis to get a 15% subsidy on capital investment of 30 lakh with a ceiling of 3 lakh
            li Additional 3 % subsidy on the interest from the bank for a period of four years.
            li Loan assistance from 16 banks across 5832 branches in the state.
          a.button(target="_blank" href="https://forms.zohopublic.com/keralastartupmission/form/NorkaPravasiStartupProgrammeRegistration/formperma/cSD0eRnNcHnoQhjxfo2BePLjCAfyAlytngNaPyNQ7a8") Apply Now

        
  section.section-content#banks
    .container
      h2.mb-4.text-center Financial Institutions Associated
      .row.justify-content-center
        - for (var i = 1; i <= 16; ++i) {
          .col-sm-2.col-6
            .card.mb-3.shadow
              .card-body
                img.img-fluid(src="./images/bank-"+i+".png")
        - }