extend layouts/default.pug

block head
  link(rel="stylesheet" href="./style/home.scss")

include ./layouts/partials/mixins.pug

block page
  section#header-section
    .overlay
    .info-container
      h1 നോര്‍ക്ക പ്രവാസി സ്റ്റാര്‍ട്ടപ് പ്രോഗ്രാം
      h3 നോര്‍ക്കയുടേയും കേരള സ്റ്റാര്‍ട്ടപ് മിഷന്‍റേയും സംയുക്ത സംരംഭം

  section.section-content#hero-section
    .container
      .row.align-items-center
        .col-md-6
          .hero-image(style="background-image: url('./images/return.jpg')")
        .col-md-6
          .hightlight നോര്‍ക്കയുടേയും കേരള സ്റ്റാര്‍ട്ടപ് മിഷന്‍റേയും സംയുക്ത സംരംഭം
          h2 നോര്‍ക്ക പ്രവാസി സ്റ്റാര്‍ട്ടപ് പ്രോഗ്രാം
          p.text-justify.f-2 പ്രവാസികള്‍ക്ക് ഏറ്റെടുക്കുന്നതിനും അതിലൂടെ സംസ്ഥാനത്തിന്‍റെ സാമ്പത്തിക വികസനത്തിന് സംഭാവനയേകുന്നതിനും പര്യാപ്തമായ നിരവധി സാങ്കേതികാധിഷ്ഠിത ബിസിനസ് അവസരങ്ങളാണ് നോര്‍ക്ക പ്രവാസി സ്റ്റാര്‍ട്ടപ് പ്രോഗ്രാം (എന്‍പിഎസ്പി) മുന്നോട്ടുവയ്ക്കുന്നത്. മൂല്യം സൃഷ്ടിക്കാനാകുന്ന സാങ്കേതികവിദ്യയിലെ നൂതന പ്രവണതകളും വികാസങ്ങളും എന്‍പിഎസ്പിയിലൂടെ സംവദിക്കും. അനുയോജ്യരായ പ്രവാസികള സ്ക്രീനിംഗ് കമ്മിറ്റിയിലൂടെ തിരഞ്ഞെടുത്ത് അവരെ മൂന്നുമാസത്തെ പ്രോഗ്രാമിന്‍റെ ഭാഗമാക്കും. ശ്രദ്ധയൂന്നേണ്ട ബിസിനസ് മേഖല തിരിച്ചറിയുന്നതിനും ബിസിനസ് നിക്ഷേപങ്ങള്‍ക്ക് എങ്ങനെ മൂല്യം വര്‍ദ്ധിപ്പിക്കാമെന്നും ഈ പ്രോഗ്രാമിലൂടെ പ്രവാസികള്‍ക്ക് മനസ്സിലാക്കാനാകും.  തിരഞ്ഞെടുക്കപ്പെടുന്നവര്‍ക്ക് നിലവിലെ എന്‍ഡിപിആര്‍ഇഎം പദ്ധതിയുടെ സാമ്പത്തിക സഹായത്തിന് അര്‍ഹതയുണ്ടായിരിക്കും.
          a.button(target="_blank" href="https://forms.zohopublic.com/keralastartupmission/form/Registration/formperma/MZ0IV1h6cTtY7tra6-RYJkny3PtGB5sNh7aJJmnJXKc") അപേക്ഷിക്കാം

  section.section-content#banner-section
    .banner-image(style="background-image: url('./images/return4.jpg')")
    .container
      .row.no-gutter
        .col-md-6.bg-blue
          h2.mb-4 യോഗ്യത
          ul.cursor
            li കുറഞ്ഞത് രണ്ട് വര്‍ഷത്തെ വിദേശത്തെ ജോലി / താമസം
            li കേരളത്തിലേക്ക് സ്ഥിരമായി മടങ്ങിയെത്തിയവരായിരിക്കണം.
          a.button(target="_blank" href="https://forms.zohopublic.com/keralastartupmission/form/Registration/formperma/MZ0IV1h6cTtY7tra6-RYJkny3PtGB5sNh7aJJmnJXKc") അപേക്ഷിക്കാം

        .col-md-6

  section.section-content#event-section
    .container
      h1.text-center.mb-5 ലക്ഷ്യങ്ങള്‍
      p.text-justify.pb-5.f-2 സംരംഭകരാകാന്‍ അഭിനിവേശമുള്ളവരേയും സമൂഹിക വികസനത്തിന് സംഭാവനയേകാന്‍ യോഗ്യരായവരേയും കണ്ടെത്തുന്നതിന് കേരള സ്റ്റാര്‍ട്ടപ് മിഷന്‍, നോര്‍ക്കയുടെ സഹകരണത്തോടെയാണ് നോര്‍ക്ക പ്രവാസി സ്റ്റാര്‍ട്ടപ് പ്രോഗ്രാമിന് തുടക്കമിടുന്നത്. മാര്‍ഗനിര്‍ദേശകര്‍, നിക്ഷേപകര്‍, സ്റ്റാര്‍ട്ടപ്പുകള്‍, നയകര്‍ത്താക്കള്‍ തുടങ്ങിയ വിവിധ പങ്കാളികളുടെ സാന്നിദ്ധ്യത്താല്‍ സ്റ്റാര്‍ട്ടപ്പ് അന്തരീക്ഷം വൈവിധ്യമാണ്.  പ്രവാസികള്‍ക്ക് ടെക്നോളജി സ്റ്റാര്‍ട്ടപ്പ് അന്തരീക്ഷത്തിലെ അവസരങ്ങള്‍ ഉപയോഗപ്പെടുത്തുന്നതിനുള്ള ചാലകമായിരിക്കും എന്‍പിഎസ്പി പ്രോഗ്രാം.

      .row.justify-content-evenly
          +objective("./images/return.jpg", "പ്രവാസികളുടെ പ്രൊഫഷണല്‍ നൈപുണ്യത്തിനനുസൃതമായ പുനരധിവാസം", "1")
          +objective("./images/return.jpg", "സംരംഭകരാകാന്‍ അഭിനിവേശമുള്ളവരെ കണ്ടെത്തുകയും അവരുടെ ആശയങ്ങളെ സംരംഭങ്ങളായി പോഷിപ്പിക്കുകയും ചെയ്യുക", "2")
          +objective("./images/return.jpg", "പ്രവാസി സമൂഹത്തില്‍ത്തന്നെ ബിസിനസ് നെറ്റ്വര്‍ക്കും ഇന്‍വെസ്റ്റര്‍ നെറ്റ് വര്‍ക്കും രൂപീകരിക്കുക", "3")
          +objective("./images/return.jpg", "സമാനമായ ഒന്നിലധികം സ്ഥാപനങ്ങളെ ഒരുമിപ്പിക്കുന്ന സാങ്കേതികവിദ്യ, ബിസിനസ്, നിക്ഷേപം", "4")
          +objective("./images/return.jpg", "ടെക്നോളജി സ്റ്റാര്‍ട്ടപ്പുകളുമായി മാര്‍ഗനിര്‍ദേശത്തിനും കണ്‍സള്‍ട്ടിംഗിനുമുള്ള  അവസരങ്ങള്‍ ഉപയോഗപ്പെടുത്തുക", "5")
          +objective("./images/return.jpg", "നല്ല സമൂഹത്തിനായി പ്രവാസികളുടെ ബിസിനസ് നെറ്റ്വര്‍ക്കിന് കരുത്തേകുക", "6")
          +objective("./images/return.jpg", "പങ്കാളിത്ത മാതൃകയിലുള്ള സംരംഭങ്ങള്‍ സൃഷ്ടിക്കുന്നതിന് സമാന മനസ്കരായ പ്രവാസികളെ കണ്ടെത്തുക", "7")
          +objective("./images/return.jpg", "വിവിധ സ്റ്റാര്‍ട്ടപ് പദ്ധതികളിലൂടെ ധനസഹായം നല്‍കുക", "8")

  section.section-content#banner-section.alternate
    .banner-image(style="background-image: url('./images/funding.jpg')")
    .container
      .row.no-gutter
        .col-md-6
        .col-md-6.bg-blue.pl-4
          h2.mb-4 പ്രവാസികള്‍ക്കായുള്ള പദ്ധതികളും ആനുകുല്യങ്ങളും
          ul.cursor
            li പ്രവാസികള്‍ക്കായി 30 ലക്ഷംവരെയുള്ള വായ്പയും അതില്‍ 15% ഇളവും നല്‍കുന്നതാണ്. അതില്‍ 3 ലക്ഷം വരെ ആണ് ആനുകുല്യം ലഭിക്കുക.
            li ബാങ്കില്‍ നിന്ന് ലഭിക്കുന്ന വായ്പയ്ക്ക് അധികമായി പലിശയുടെ 3% ഇളവു നല്‍കുകയും അത് 4 വര്‍ഷത്തേക്ക് ഉണ്ടായിരിക്കുന്നതുമാണ്.
            li വായ്പ്പാ സഹായങ്ങൾ 16 ബാങ്കുകളുടെ 5832 ശാഖകളിലൂടെ ലഭിക്കുന്നതുമാണ്.
          a.button(target="_blank" href="https://forms.zohopublic.com/keralastartupmission/form/Registration/formperma/MZ0IV1h6cTtY7tra6-RYJkny3PtGB5sNh7aJJmnJXKc") അപേക്ഷിക്കാം

        
  section.section-content#banks
    .container
      h2.mb-4.text-center ധനകാര്യ സ്ഥാപനങ്ങള്‍
      .row.justify-content-center
        - for (var i = 1; i <= 16; ++i) {
          .col-sm-2.col-6
            .card.mb-3.shadow
              .card-body
                img.img-fluid(src="./images/bank-"+i+".png")
        - }